.git
.turbo
node_modules
.pnpm-store
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store

dist
.next
out
build

apps/**/.next
apps/**/dist
apps/**/.turbo
apps/**/node_modules
apps/**/.env

packages/**/dist
packages/**/.turbo
packages/**/node_modules
packages/**/.env
