version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data

  http-backend:
    build:
      context: .
      dockerfile: apps/http-backend/Dockerfile
      args:
        DATABASE_URL: "postgresql://postgres:mypassword@postgres:5432/postgres"
    environment:
      NODE_ENV: development
      PORT: 3001
      DATABASE_URL: "postgresql://postgres:mypassword@postgres:5432/postgres"
      REDIS_URL: "redis://redis:6379"
      FRONTEND_URL: "http://localhost:3000"
      ACCESS_JWT_SECRET: "oIO5urpURmcmzS4aVZU9p2tyW1ODr5fMouqKREbAW3o="
      REFRESH_JWT_SECRET: "CTi4ovDvwKJpwERSQqWOE7l0BVKQnOwq8YyfGVIE0no="
      LOG_LEVEL: info
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "3001:3001"
    restart: unless-stopped

  ws-backend:
    build:
      context: .
      dockerfile: apps/ws-backend/Dockerfile
      args:
        DATABASE_URL: "postgresql://postgres:mypassword@postgres:5432/postgres"
    environment:
      NODE_ENV: development
      PORT: 8080
      REDIS_URL: "redis://redis:6379"
      ACCESS_JWT_SECRET: "oIO5urpURmcmzS4aVZU9p2tyW1ODr5fMouqKREbAW3o="
      DATABASE_URL: "postgresql://postgres:mypassword@postgres:5432/postgres"
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        DATABASE_URL: "postgresql://postgres:mypassword@postgres:5432/postgres"
        NEXT_PUBLIC_API_URL: "http://localhost:3001"
        NEXT_PUBLIC_WS_URL: "ws://localhost:8080"
    environment:
      NODE_ENV: production
      PORT: 3000
      NEXT_PUBLIC_API_URL: "http://localhost:3001"
      NEXT_PUBLIC_WS_URL: "ws://localhost:8080"
    depends_on:
      http-backend:
        condition: service_started
      ws-backend:
        condition: service_started
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
